export(bibliography)
export(citep)
export(citet)
export(cleanbib)
export(functiontable)
export(read.bibtex)
export(ref)
export(write.bibtex)
import(bibtex)
import(doRNG)
import(knitr)
import(RCurl)
import(XML)
import(xtable)
